.services {
  min-height: 80vh;
  display: flex;
  position: relative;
}

.services-container {
  position: relative;
  height: 50%;
  width: 100%;
  margin: var(--container2);
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}

.services-card {
  background-color: white;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 60px 30px 60px 70px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.services-card:hover {
  transform: translateY(-10px);
}

.services-card:hover .services-card-title {
  color: var(--brand)
}

.services-card-icon {
  width: 60px;
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}

.services-card-title {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
  color: var(--dark-background);
  font-family: var(--primary-font-family);
  line-height: 1.2;
}

.services-card-description {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: var(--default-color);
  font-family: var(--default-font-family);
}

@media (max-width: 1200px) {
  .services-container {
    margin: 50px 20px;
  }

  .services-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}