.about {
  height: 100vh;
  display: flex;
  color: var(--default-color);
}

.about-container {
  position: relative;
  height: 50%;
  width: 100%;
  margin: var(--container2);
}

.about-title {
  display: flex;
  gap: 30px;
}

.about-title-left {
  width: 50%;
}

.about-title-left-heading {
  margin-bottom: 1rem;
}

.about-title-left-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-title-left-list-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.about-title-right {
  width: 50%;
}

.about-title-right-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--brand);
  color: white;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.about-title-right-button:hover {
  background: color-mix(in srgb, var(--brand), transparent 20%);
}

.about-title-right-button-arrow {
  width: 22px;
}

.about-title-right-button:hover .about-title-right-button-arrow {
  animation: slideRight 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}