* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

$primary-color: #2563eb;
$secondary-color: #4369b3;
$third-color: #1e3a8a;
$logo-color: #e2e8f0;

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@mixin button {
  background-color: $primary-color;
  color: white;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  padding: 20px 20px;
  font-size: 16px;
  font-weight: 600;
}

.left_img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-55%) translateY(-10%) scaleX(-1);
}

.header {
  height: 150px;

  .container {
    @include container;
    @include flex-between;
    height: 100%;

    .logo_container {
      width: 200px;

      .logo {
        height: 3rem;
        width: auto;
        color: $logo-color;
      }
    }


    .address {
      font-size: .875rem;
      line-height: 1.5rem;
      color: $primary-color;
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

      .address_svg {
        height: 0.375rem;
        /* 1.5 * 0.25rem */
        width: 0.375rem;
        /* 1.5 * 0.25rem */
        overflow: visible;
        fill: currentColor;
        stroke: currentColor;
      }
    }

    .button {
      @include button;
    }
  }
}

.marketing {
  height: 100vh;

  .container {
    @include container;
    height: 100vh;
    width: 55%;
    padding: 100px 20px;

    .title {
      font-size: 5rem;
      line-height: 1;
      font-weight: 700;
      color: $primary-color;
      letter-spacing: -.05em;
    }

    .description {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: -.025em;
      color: $secondary-color;
    }

    .data {
      @include flex-between();
      width: 80%;
      margin-top: 70px;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 12px;


      .info_title {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        color: $primary-color;
        font-size: .875rem;
        line-height: 1.5rem;
      }

      .info_description {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        color: $third-color;
        letter-spacing: -.025em;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
  }
}

@media (min-width: 640px) {

  /* sm */
  .left_img {
    left: 50%;
    transform: translateX(-98%) translateY(-6%) scaleX(-1);
  }
}

@media (min-width: 1024px) {

  /* lg */
  .left_img {
    transform: translateX(-106%) translateY(-10%) scaleX(-1);
  }
}

@media (min-width: 1280px) {

  /* xl */
  .left_img {
    transform: translateX(-122%) translateY(-10%) scaleX(-1);
  }
}